@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');

body{
    font-family: 'Mulish', sans-serif;
    color: #04146c;
}

h1{
    font-weight: 900;
    font-size: 28.11pt;
}

h2{
    font-weight: 700;
    font-size: 16.17pt;
    color: #0a2ff1;
}

img{
    width: 55px;
    margin-right: 15px;
    vertical-align: middle;
}

p{
    width: 50%;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 70px;
    font-size: 14.98pt;
    font-weight: 400;
}