@import url('https://fonts.googleapis.com/css2?family=Mulish:ital@0;1&display=swap');

body{
    font-family: 'Mulish', sans-serif;
}

label, input, button, a{
    margin: 0 auto;
    display: block;
}

form{
    border: solid 1px #606ec3;
    box-sizing: border-box;
    width: 600px;
    height: 400px;
    margin: auto;
}

label{
    margin-top: 30px;
    font-size: 24px;
    font-weight: 700;
    color: #04146c;
}

label, a{
    text-align: center;
}

input, button{
    width: 500px;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

input, a{
    font-weight: 400;
    font-size: 18.6px;
}

input{
    color: #414166;
}

button{
    font-size: 20px;
    color: white;
    background-color: #0a2ff1;
}

hr{
    width: 500px;
}

a{
    color:#0a2ff1;
    
}

